APP_ENV=development
PORT=8080
POSTGRES_HOST=HOST
POSTGRES_PORT=5432
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DATABASE=DATABASE
POSTGRES_SSL_MODE=disable
REDIS_HOST=HOST
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=PASSWORD
REDIS_DATABASE=0
REDIS_TLS=false
